<html>
<head>
    <title>Analyse</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<section class="project">
    <p class="name">{{ project.name }}</p>
    <section class="dir-list">
        {% for dir in project.dirList %}
        <section class="dir">
            {{ dir.name }}
        </section>
        {% endfor %}
    </section>
    <section class="file-list">
        {% for file in project.fileList %}
        <section class="file">
            {{ dir.file }}
        </section>
        {% endfor %}
    </section>
</section>
<section class="jsx-file">
    {% for jsxFile in jsxLists %}
        <p class="name">{{ jsxFile.name }}</p>
    {% endfor %}
</section>
</body>
</html>